<div class='gallery'>

  <div class='search-wrapper'>
    <input class='search' placeholder='Find a topic or theme' type='text' />
    <a class='clear' href="#">Clear</a>
  </div>

  <div class='popular-tags'>
    Popular tags
    <span class='tag-list'>
      <a class='tag' href="#">javascript</a> <a class='tag' href="#">css</a> <a class='tag' href="#">html</a> <a class='tag' href="#">media</a>
    </span>
  </div>
  
  <div class='activities'>
    
  {% for activity in activities %}
    <div class='activity'>
      <a href='{{ activity.url }}' style='aabackground-image: url({{activity.thumbnail_url}})'class='thumbnail'>
        
        <img src='{{activity.thumbnail_url}}'/>
        
      </a>
      

      <div class='details'>
        <h1 class='title'>{{ activity.title }}</h1>
        <p class='description'>
          {{ activity.description }}
        </p>
        
        <div class='tags'>
          {% for tag in activity.tags %}
            <a class='tag' href="#">{{ tag }}</a>,
          {% endfor %}
        </div>
        
        <a href='{{ activity.url + 'remix' }}' class="button">Remix</a>
      </div>
    </div>
  {% endfor %}
  
  </div>

</div>

